# Database
POSTGRES_PASSWORD=pass
DATABASE_URL=postgresql+asyncpg://postgres:pass@postgres:5432/aibot

# Brokers
RABBIT_URL=amqp://guest:guest@rabbitmq:5672//
REDIS_URL=redis://redis:6379/0

# Telegram
TG_API_ID=
TG_API_HASH=
TG_SESSION_NAME=aibot
TG_TARGET_CHANNEL=

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
OPENAI_MAX_TOKENS=300

# Parse
PARSE_INTERVAL_MINUTES=30
MAX_NEWS_PER_SOURCE=10

# App
APP_ENV=development
LOG_LEVEL=INFO
